<h1>Home#index</h1>
<h2>This was deployed with:</h2>
<ul>
  <li><%= link_to 'DigitalOcean.com', 'http://www.digitalocean.com' %> VPS</li>
  <li>Ubuntu 14.04 (Trusty)</li>
  <li>Capistrano v2.15.5</li>
</ul>

